# 대용량/불필요 폴더 및 파일 제외
public/animations/
public/models/
public/model-info/
tests/
.git/
.vscode/
.DS_Store
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
db_data/
mongo_data/
.env
.env.production
venv/
.python-version
README.md
.ipynb_checkpoints/
htmlcov/
.coverage
.tox/
*.swp
*.swo
poetry.lock
.poetry/
src/.DS_Store
src/__pycache__/